@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&family=Manrope:wght@300;400;500;700&display=swap");

$primary: #04243c;
$secondary: #154671;
$accent: #c19313;
$grey: #848484;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: $grey;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $grey;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.bgVideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.bgImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.fullBgGradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(
      329.53deg,
      rgba(21, 70, 113, 0.245) 12.23%,
      rgba(255, 255, 255, 0) 134.66%
    ),
    linear-gradient(180deg, #ffffff 15.16%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  z-index: -1;
}

.button {
  padding: 8px 23px;
  color: $primary;
  font-size: 18px;
  line-height: 25px;
  border: 2px solid $primary;
  transition: all 0.25s;
}
.button:hover {
  color: #d7e0e7;
  background-color: $primary;
}

.placeholder {
  width: 440px;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

#home {
  position: relative;
  width: 100vw;
  height: 100vh;

  nav {
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #nav-logo {
      width: 159px;
    }
    .nav-links {
      a:not(:last-child) {
        margin-right: 107px;
      }
      a {
        font-size: 18px;
        line-height: 25px;
        transition: all 0.25s;
      }
      a:hover {
        color: $primary;
      }
    }
  }

  header {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      margin: 8px 0;
      font-family: "Alegreya", serif;
      color: $secondary;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 49px;
    }
    img:first-child {
      margin-bottom: 41px;
    }
    img:last-child {
      margin-top: 42px;
    }
  }

  #services {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 150px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-family: "Alegreya", serif;
      color: $secondary;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
    }

    p {
      color: $secondary;
      font-size: 18px;
      line-height: 25px;
    }

    .eliteTraderTraining {
      text-align: center;
    }
    .advisoryServices {
      text-align: right;
    }
  }
}

#about-us {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  main {
    background: rgba(240, 243, 246, 0.8);

    h2 {
      text-transform: uppercase;
      color: $accent;
      font-size: 24px;
      line-height: 33px;
      font-weight: 500;
    }

    h3 {
      margin: 9px 0 34px;
      width: 470px;
      font-family: "Alegreya", serif;
      color: $primary;
      font-size: 32px;
      line-height: 44px;
      font-weight: 500;
    }

    p {
      margin-top: 51px;
      width: 585px;
      color: $primary;
      font-size: 20px;
    }
  }
}

#elite-trading {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container {
    h2 {
      text-transform: uppercase;
      color: $accent;
      font-size: 24px;
      line-height: 33px;
      font-weight: 500;
      margin-bottom: 14px;
    }

    p {
      margin-top: 51px;
      width: 585px;
      color: $primary;
      font-size: 20px;
      margin: 28px 0 41px;
    }

    .hover-move {
      transition: transform 0.3s ease-in-out;
    }
    .hover-move:focus,
    .hover-move:hover {
      transform: translateX(20px);
    }

    a {
      font-weight: 500;
      font-size: 20px;
      color: #04243c;

      img {
        margin-left: 19px;
      }
    }
  }

  aside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $accent;
    font-weight: 500;
    font-size: 38px;
    line-height: 52px;

    p {
      color: $accent;
    }
    span {
      color: $accent;
      font-weight: 500;
      font-size: 32px;
      font-family: "Alegreya", serif;
    }
  }
}

#venture-capitalist {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  aside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $accent;
    font-weight: 500;
    font-size: 38px;
    line-height: 52px;

    p {
      color: $accent;
    }
    span {
      color: $accent;
      font-weight: 500;
      font-size: 32px;
      font-family: "Alegreya", serif;
    }
  }

  .container {
    display: flex;
    justify-content: right;
    flex-direction: column;

    h2 {
      text-transform: uppercase;
      color: $accent;
      font-size: 24px;
      line-height: 33px;
      font-weight: 500;
      margin-bottom: 14px;
      text-align: right;
    }

    img {
      margin-left: auto;
    }

    p {
      margin-top: 51px;
      width: 585px;
      color: $primary;
      font-size: 20px;
      margin: 28px 0 41px;
      text-align: right;
    }
  }
}

#advisory-services {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container {
    h2 {
      text-transform: uppercase;
      color: $accent;
      font-size: 24px;
      line-height: 33px;
      font-weight: 500;
      margin-bottom: 14px;
    }

    p {
      margin-top: 51px;
      // width: 585px;
      color: $primary;
      font-size: 20px;
      margin: 28px 0 41px;
    }

    .hover-move {
      transition: transform 0.3s ease-in-out;
    }
    .hover-move:focus,
    .hover-move:hover {
      transform: translateX(20px);
    }

    a {
      font-weight: 500;
      font-size: 20px;
      color: #04243c;

      img {
        margin-left: 19px;
      }
    }
  }

  aside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: $accent;
    font-weight: 500;
    font-size: 38px;
    line-height: 52px;

    p {
      color: $accent;
      width: 236px;
      line-height: 34px;
    }
    span {
      color: $accent;
      font-weight: 500;
      font-size: 32px;
      font-family: "Alegreya", serif;
    }
    #divider {
      width: 3px;
      height: 66px;
      background-color: $accent;
    }
  }
}

#footer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;

  main {
    display: flex;
    background: rgba(240, 243, 246, 0.8);
    
  }

  .contact-card-wrapper {
    display: flex;

  }

  .contact-card {
    border: 3px solid $accent;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 50px;

    a {
      margin-bottom: 32px;
    }

    h2,
    p,
    a,
    div {
      color: $primary;
    }
    span {
      color: rgba($color: #154671, $alpha: 0.5);
    }

    h2 {
      font-family: "Alegreya", serif;
      font-weight: 500;
      font-size: 26px;
      line-height: 35px;
      margin-bottom: 32px;
    }
  }

.contact-card:last-of-type {
  height: 50%;
}

  .social-icons {
    margin-top: 1rem;
    width: 90px;
    display: flex;
    justify-content: space-around;
    a {
      margin: 0;
    }
  }

  #more {
    margin: 52px 0 0;
    border: 3px solid $accent;
    padding: 22px 33px;
    font-size: 18px;
    transition: all 0.3s;
  }
  #more:hover {
    color: white;
    background-color: $accent;
  }
}

#logo-fix {
  position: fixed;
  top: 56px;
  left: 150px;
  transition: opacity 0.3s;
  opacity: 0;
  img {
    width: 110px;
  }
}
#logo-fix.active {
  opacity: 1;
}

#page-buttons {
  position: fixed;
  width: 330px;
  top: 0;
  right: 0px;
  margin-top: 72px;
  transition: opacity 0.3s;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;

  #scroll-up-button {
    margin: 0 auto 200px;
    cursor: pointer;
  }

  .box {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid rgba(21, 70, 113, 0.5);
    display: grid;
    place-items: center;
    font-size: 18px;
    color: rgba(21, 70, 113, 0.5);
    transition: all 0.2s;
    cursor: pointer;
  }
  .box.active {
    border: 2px solid #154671;
    color: #154671;
    font-weight: 600;
  }
  .box:hover,
  .box.focus {
    font-weight: 600;
    color: #154671;
  }

  span.line {
    width: 2px;
    height: 15px;
    margin: 6px auto;
    background-color: rgba(21, 70, 113, 0.5);
  }
  span.line.active {
    background-color: #154671;
  }
}
#page-buttons.active {
  opacity: 1;
  a {
    pointer-events: all;
  }
}

#scroll-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: auto;
  overflow-x: hidden;
  flex: none;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: center;
  flex: none;
}
