@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&family=Manrope:wght@300;400;500;700&display=swap");

$primary: #04243c;
$secondary: #154671;
$accent: #c19313;
$grey: #848484;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: $grey;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $grey;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.bgVideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.bgImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.fullBgGradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(
      329.53deg,
      rgba(21, 70, 113, 0.245) 12.23%,
      rgba(255, 255, 255, 0) 134.66%
    ),
    linear-gradient(180deg, #ffffff 15.16%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  z-index: -1;
}

.placeholder {
  width: 440px;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

#hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  nav {
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #nav-logo {
      width: 159px;
    }
    .nav-links {
      a:not(:last-child) {
        margin-right: 107px;
      }
      a {
        font-size: 18px;
        line-height: 25px;
        transition: all 0.25s;
      }
      a:hover {
        color: $primary;
      }
    }

    .button {
      padding: 8px 23px;
      color: $primary;
      font-size: 18px;
      line-height: 25px;
      border: 2px solid $primary;
      transition: all 0.25s;
    }
    .button:hover {
      color: #d7e0e7;
      background-color: $primary;
    }
  }

  header {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      margin: 8px 0;
      font-family: "Alegreya", serif;
      color: $secondary;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 49px;
    }
    img:first-child {
      margin-bottom: 41px;
    }
    img:last-child {
      margin-top: 42px;
    }
  }

  #services {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 150px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-family: "Alegreya", serif;
      color: $secondary;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
    }

    p {
      color: $secondary;
      font-size: 18px;
      line-height: 25px;
    }

    .eliteTraderTraining {
      text-align: center;
    }
    .advisoryServices {
      text-align: right;
    }
  }
}

#about {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  main {
    background: rgba(240, 243, 246, 0.8);

    h2 {
      text-transform: uppercase;
      color: $accent;
      font-size: 24px;
      line-height: 33px;
      font-weight: 500;
    }

    h3 {
      margin: 9px 0 34px;
      width: 470px;
      font-family: "Alegreya", serif;
      color: $primary;
      font-size: 32px;
      line-height: 44px;
      font-weight: 500;
    }

    p {
      margin-top: 51px;
      width: 585px;
      color: $primary;
      font-size: 20px;
    }
  }
}

#trading {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container {
    h2 {
      text-transform: uppercase;
      color: $accent;
      font-size: 24px;
      line-height: 33px;
      font-weight: 500;
      margin-bottom: 14px;
    }

    p {
      margin-top: 51px;
      width: 585px;
      color: $primary;
      font-size: 20px;
      margin: 28px 0 41px;
    }

    a {
      font-weight: 500;
      font-size: 20px;
      color: #0c0c0c;
      img {
        margin-left: 19px;
      }
    }
  }

  aside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $accent;
    font-weight: 500;
    font-size: 38px;
    line-height: 52px;

    p {
      color: $accent;
    }
    span {
      color: $accent;
      font-weight: 500;
      font-size: 32px;
      font-family: "Alegreya", serif;
    }
  }
}
